@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');
/*
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;
*/


html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;  /* no general overflow in desktop app  */
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
} 

#modal{
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  z-index: 100;
  display: none;
}

/* Dialogs and alerts */

.lexmessage{
  background:none;
  position: absolute;
  z-index: 101;
}

.lexmessagetitle{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: #303030;
  font-size: 15px;
  color: white;
  text-shadow: 0px 1px 5px #000;
  width: calc( 100% - 16px);
  padding: 8px;
  user-select: none;
}

.lexmessagecontent{
  background-color:  #888;
  padding: 15px;
  height: 100%;
  word-break: break-all;
  overflow: hidden;
  overflow-y: scroll !important;
}

.lexmessagecloser{
  position: absolute;
  width: 20px;
  height: 20px;
  right: 6px;
  top: 3px;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

/* Area */

.lexarea {
  background-color:  #505050;
  margin: 0;
}

.lexarea.split {
  /* display: inline-block; */
}

/* Split bar */

.lexsplitbar {
  background: #343434;
  border-radius: 2px;
}

.lexsplitbar:hover{
  
  background-color: #c26e5e;
}

.lexsplitbar.horizontal{
  cursor: ew-resize;
}

.lexsplitbar.vertical{
  cursor: ns-resize;
}

/* Branches */

.lexpanel {
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
}

.lexbranch{
  margin-top: 3px;
  margin-bottom: 3px;
  background-color:rgba(255, 255,255, 0.25);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.lexbranch .lexbranchcontent{
  /* visibility: visible;
  opacity: 1; */
}

.lexbranch.closed .lexbranchcontent{
  /* visibility: hidden;
  opacity: 0;
  height: 0px;
  transition:visibility 0.2s, opacity 0.2s ease-in; */
}

.lexbranch.title{
  background: #303030;
  font-size: 15px;
  color: white;
  padding: 4px;
  text-shadow: 0px 1px 5px #000;
  cursor: pointer;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

.lexbranch.title span{
  display: inline-block;
  -ms-transform: rotate(-90deg) translateY(-3px);
  -webkit-transform: rotate(-90deg) translateY(-3px);
  transform: rotate(-90deg) translateY(-3px);
  font-size: 12px;
  margin-left: 5px;
  margin-right: 5px;
  
  -webkit-transition: -webkit-transform 0.1s;
  transition: transform 0.1s;
}

.lexbranch.title.closed span{
  -ms-transform: rotate(0deg) translateY(-3px);
  -webkit-transform: rotate(0deg) translateY(-3px);
  transform: rotate(0deg) translateY(-3px);
}

/* Widgets */

.lexwidget {
  display: flex;
  padding: 5px;
  font-size: 12px;
  color: #DCDCDC;
  /* text-shadow: 0px 1px 5px #000; */
  margin-right: 10px;
  line-height: 2;
  overflow: hidden;
}

.lexwidgetseparator div{
  -ms-transform: translateY(-12px);
  -webkit-transform: translateY(-12px);
  transform: translateY(-12px);
  height: 2px;
  width: 11px;
  cursor: grab;
  color: #3E3E3E;
}

.lexwidgetseparator div div{
  
  background: #3E3E3E;
}


.lexwidgetname{
  white-space: nowrap;
  overflow: hidden;
}

.lexwidget input{
  
  background-color: #D8D8D8;
  border-radius: 3px;
  border: none;
  margin-left: 5px;
  padding: 3px;
  color: #000;
  font-weight: 500;
  outline:none;
}

.lexwidget.nomargin input{
  
  margin-left: 0px;
}

.lexwidget input:disabled{
  background-color: #949494;
  color: #484848;
  outline: none;
}

.lexbutton{
  
  background: rgb(216,216,216);
  background: linear-gradient(0deg, rgba(216,216,216,1) 0%, rgba(170,170,170,1) 50%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-radius: 3px;
  border: none;
  margin-left: 5px;
  margin-top: 2px;
  padding: 3px;
  color: #000;
  font-weight: 500;
  outline:none;
  height: 20px !important;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
  /* border-bottom: 1px solid #c26e5e; */
  box-shadow: 0px 0px 5px #444;
}

.lexbutton:active{
  
  background: rgb(71,71,71);
  background: radial-gradient(circle, rgba(81,81,81,1) 0%, rgba(48,48,48,1) 50%);
  color: #DDD;
}

.lexbutton.noname{
  
  margin-left: 0px;
  margin-top: 0px;
}

.lexcombo{
  
  background: rgb(216,216,216);
  background: linear-gradient(0deg, rgba(216,216,216,1) 0%, rgba(170,170,170,1) 50%);
  
  border: none;
  margin-left: 5px;
  margin-top: 1px;
  padding: 3px;
  color: #000;
  font-weight: 500;
  outline:none;
  white-space: nowrap;
  overflow: hidden;
  /* border-bottom: 1px solid #c26e5e; */
  box-shadow: 0px 0px 5px #444;
}

/* Toggle check box */

.onoffswitch {
  position: relative;
  width: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-left: 5px;
}

.onoffswitch__checkbox {
  display: none;
}

.onoffswitch__label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  /* border: 2px solid #303030; */
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  box-shadow: 0px 0px 8px #444;
}

.onoffswitch__label.disabled .onoffswitch__inner:before{
 
  background: none !important;
}

.onoffswitch__label.disabled .onoffswitch__inner:before{
  background-color: #eeeeee;
  color: #999999;
}

.onoffswitch__inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.15s ease-in 0.05s;
}

.onoffswitch__inner:before,
.onoffswitch__inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 20px;
  padding: 0;
  line-height: 20px;
  font-size: 12px;
  color: white;
  
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch__inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #303030;
  color: #ccc;
}

.onoffswitch__inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #303030;
  color: #ccc;
  text-align: right;
}

.onoffswitch__switch {
  display: block;
  width: 14px;
  margin: 6px;
  background: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 32px;
  border: 2px solid #999999;
  border-radius: 6px;
  transition: all 0.15s ease-in 0s;
}

.onoffswitch__checkbox:checked + .onoffswitch__label .onoffswitch__inner {
  margin-left: 0;
}

.onoffswitch__checkbox:checked + .onoffswitch__label .onoffswitch__switch {
  right: 0px;
  
}

