html, body {
    width: 100%;
    height: calc(100% - 2px);
    overflow: hidden;  /* no general overflow in desktop app  */
    margin: 0;
    padding: 0;
    letter-spacing: -0.02em;
    font-weight: 400;
}

canvas {
    border-radius: 6px;
}

#test {
    border: 1px solid #eef;
}

body.nocursor * {
    cursor: none !important;
}

.container {
    background-color: color-mix(in oklab, var(--secondary) 30%, transparent);
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}