@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@font-face {
    font-family: "GeistSans";
    src: url("https://raw.githubusercontent.com/jxarco/lexgui.js/master/data/GeistSans.ttf");
}

:root {
	color-scheme: light dark;

	--color-blue: #049EF4;
	--text-color: #cfcfcf;
	--text-color-secondary: #999;

	--font-size: 17px;
	--line-height: 26px;

	--border-style: 1px solid #444;
	--panel-width: 300px;
	--page-padding: 24px;
	--max-width: 960px;
	--icon-size: 20px;
	--stylish-color: light-dark(#fd18a5, #e2c886);

    --global-selected: #2d69da;
	--global-selected-light: #0d99ff;
    --global-selected-dark: #304b86;
    --global-color-accent: #ec5377;
    --global-color-warning: #ffc107;
    --global-color-error: #f54c4c;
}

#content {
	font-family: "GeistSans", sans-serif;
	font-size: var(--font-size);
	line-height: var(--line-height);
	color: var(--text-color);
	tab-size: 4;
	max-width: var(--max-width);
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: var(--page-padding);
	word-break: break-word;
	text-align: justify;
	text-justify: inter-word;
	border-radius: 12px;
}

#content .lexarea {
	padding-block: 1.5em;
	width: 80% !important;
	justify-self: center;
}

#content::-webkit-scrollbar {
    display: none;
}

.code-container {
	position: relative;
	margin: 16px calc(-1 * var(--page-padding));
}

.code-container button {
	border: none;
	outline: none;
	background: none;
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 18px;
	padding: 6px;
	color: #bbb;
	transition: color 0.25s;
	z-index: 1;
}

.code-container button:hover {
	color: #ccc;
	cursor: pointer;
}

.code-container button.copied {
	color: #42d065;
}

#content a {
	color: var(--color-blue);
	cursor: pointer;
	text-decoration: none;
}

#content .lexpanel a {
	color: unset;
}

#content h1 {
	font-size: 32px;
	line-height: 48px;
	margin-left: -2px;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
	font-variation-settings: "wdth" 100;
}

#content h2 {
	font-size: 28px;
	line-height: 36px;
	font-weight: normal;
	margin-left: -1px;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}

#content h3 {
	font-size: 20px;
	line-height: 28px;
	font-weight: normal;
	margin-top: 0.95em;
	margin-bottom: 0.95em;
}

code {
	font-family: "Roboto Mono", monospace;
	font-size: 14px;
	line-height: calc(var(--line-height) - 1px);
	/* margin: 16px calc(-1 * var(--page-padding)); */
	background-color: #282828;
	text-align: unset !important;
	text-justify: unset !important;
}

code.inline {
	display: inline-block;
	vertical-align: middle;
	border-radius: 4px;
	padding: 3px 6px;
	margin: 0;
}

code.inline:not(.ref) {
	color: var(--stylish-color);
	font-weight: 500;
}

code:not(.inline) {
	display: block;
	padding: calc(var(--page-padding) - 6px) var(--page-padding);
	/* white-space: pre-wrap; */
	overflow: auto;
	box-sizing: border-box;
	position: relative;
	border-radius: 6px;
}

#content strong {
	font-weight:900;
}

#content a.permalink {
	float: right;
	margin-left: 5px;
	display: none;
}

#content img {
	width: 100%;
	margin: 16px calc(-1 * var(--page-padding)) ;
	border-radius: 4px;	
}

@media all and ( min-width: 1700px ) {
	
	:root {
		--panel-width: 360px;
		--font-size: 18px;
		--line-height: 28px;
		--page-padding: 28px;
		--icon-size: 24px;
	}

	#content h1 {
		font-size: 42px;
		line-height: 50px;
	}

	#content h2 {
		font-size: 32px;
		line-height: 40px;
	}

	#content h3 {
		font-size: 24px;
		line-height: 32px;
	}

}

/* mobile */

@media all and ( max-width: 640px ) {

	:root {
		--page-padding: 16px;
		--icon-size: 20px;
		--font-size: 20px;
	}

	#content {
		padding: var(--page-padding);
	}

	#content h1 {
		font-size: 28px;
		line-height: 36px;
		padding-right: 20px;
		margin-top: 0;
	}

	#content h2 {
		font-size: 24px;
		line-height: 32px;
		margin-top: 24px;
	}

	#content h3 {
		font-size: 20px;
		line-height: 28px;
	}

}

#goUpButton {
	position: fixed;
	z-index: 10;
	bottom: 32px;
	right: 32px;
	border: 1px solid #666;
	border-radius: 6px;
	outline: none;
	background: none;
	font-size: 18px;
	padding: 6px;
	color: #bbb;
	transition: all 0.25s;
	width: 32px;
	height: 32px;
}

#goUpButton:hover {
	color: #ccc;
	border-color: #ccc;
	cursor: pointer;
}

pre .str, code .str { color: #c79369; } /* string */
pre .kwd, code .kwd { color: #2194ce; } /* keyword */
pre .com, code .com { color: #999999; } /* comment */
pre .typ, code .typ { color: #4fccbd; } /* type */
pre .lit, code .lit { color: #ce57b4; } /* literal */
pre .pun, code .pun { color: #888888; } /* punctuation */
pre .pln, code .pln { color: #444444; } /* plaintext */
pre .dec, code .dec { color: #a5dba0; } /* decimal */
pre .mtd, code .mtd { color: #e6e2b8; } /* method */

pre .tag, code .tag { color: #2194ce; } /* HTML tag */
pre .atn, code .atn { color: #81cdf8; } /* HTML attribute name */
pre .com, code .com { color: #4e994d; } /* comment */
pre .pln, code .pln { color: #aaaaaa; } /* plaintext */

.desc {
	color: var(--text-color-secondary);
}

a .desc {
	color: var(--color-blue);
}

.param {
	color: var(--stylish-color);
}

.prop, .method {
	color: var(--stylish-color);
	font-size: 16px;
}

code:has(.constructor) {
	background: none;
}

.constructor {
	color: var(--stylish-color);
	font-size: 21px;
}

#content .primary { font-weight: 600; color: var(--global-selected); }
#content .secondary { font-weight: 600; color: var(--global-selected-light);  }
#content .accent { font-weight: 600; color: var(--global-color-accent);  }
#content .warning { font-weight: 600; color: var(--global-color-warning);  }
#content .error { font-weight: 600; color: var(--global-color-error);  }

#content .solid {
	background-color: var(--global-selected);
	border-radius: 8px;
	padding: 2px;
	padding-inline: 8px;
}

#content .outline {
	border: 1px solid var(--global-selected);
	color: var(--global-selected);
	border-radius: 8px;
	padding: 2px;
	padding-inline: 8px;
}

:root[data-theme="light"] #content {
	color: #202124;
}

:root[data-theme="light"] code {
	background-color: #ededed;
}

:root[data-theme="light"] code button {
	color: #434e53;
}

:root[data-theme="light"] code button:hover {
	color: #879094;
}

:root[data-theme="light"] pre .str, :root[data-theme="light"] code .str { color: #188038; }
:root[data-theme="light"] pre .kwd, :root[data-theme="light"] code .kwd { color: #1967d2; }
:root[data-theme="light"] pre .com, :root[data-theme="light"] code .com { color: #b80672; }
:root[data-theme="light"] pre .typ, :root[data-theme="light"] code .typ { color: #0b9484; }
:root[data-theme="light"] pre .dec, :root[data-theme="light"] code .dec { color: #c5221f; }
:root[data-theme="light"] pre .mtd, :root[data-theme="light"] code .mtd { color: #504f4c; }
:root[data-theme="light"] pre .lit, :root[data-theme="light"] code .lit { color: #1967d2; }
:root[data-theme="light"] pre .tag, :root[data-theme="light"] code .tag { color: #2183b4; }
:root[data-theme="light"] pre .atn, :root[data-theme="light"] code .atn { color: #a753c0; }

:root[data-theme="light"] .desc {
	color: #70777a;
}

:root[data-theme="light"] a .desc {
	color: var(--color-blue);
}

:root[data-theme="light"] .param {
	color: #37474f;
}

:root[data-theme="light"] .prop, :root[data-theme="light"] .method {
	color: #37474f;
}

:root[data-theme="light"] #goUpButton {
	color: #37474f;
}

:root[data-theme="light"] #goUpButton:hover {
	color: #879094;
}